# Python basics for data science

In [1]:
#Function performs a particular task.
#identification ---> function()

In [2]:
# Prints "Hello World" to the console
print("Hello World")

Hello World

Variables

In [3]:
# Variable --> - Variables are used to store the values .
#              - variables are case sensitive .
                  
# Define variable rules --> - you can have special character only "_" underscored . 
#                           - you can have numbers but not at the begining , rest you can have at the end of the variable .

In [4]:
A = 12 # Assigning integer value 12 to variable A

In [5]:
A # Displays the value of A

12

In [6]:
apple = 34 # Assigning integer value 34 to variable apple

In [7]:
print(apple) # Prints the value of apple

34

In [8]:
print(type(3)) # Prints the type of 3, which is <class 'int'>

<class 'int'>

In [9]:
print(type(3.5)) # Prints the type of 3.5, which is <class 'float'>

<class 'float'>

In [10]:
print(type("Pratham")) # Prints the type of "Pratham", which is <class 'str'>

<class 'str'>

In [11]:
print(type(True)) # Prints the type of True, which is <class 'bool'>

<class 'bool'>

In [12]:
# tuple --> ()
# list --> []
# set --> {}
# Dict --> {}

LIST

In [13]:
 # Creating a list with mixed data types  
mylist = [23,43,'hello',[7,34,56],True]

In [14]:
# Displays the list
mylist

[23, 43, 'hello', [7, 34, 56], True]

In [15]:
# Changing the first element of the list to 34
mylist[0] = 34

In [16]:
mylist

[34, 43, 'hello', [7, 34, 56], True]

In [17]:
# Prints the type of mylist, which is <class 'list'>
print(type(mylist))

<class 'list'>

In [18]:
# Accesses the first element of the list
mylist[0]

34

In [19]:
# Accesses the second element of the list using negative indexing
mylist[-4]

43

In [20]:
mylist[3]

[7, 34, 56]

In [21]:
mylist[4]

True

In [22]:
# single Dimension Indexing

In [23]:
mylist[3] # Accesses the fourth element of the list

[7, 34, 56]

In [24]:
mylist[3][1] # Accesses the second element of the sublist at index 3

34

In [25]:
# mylist = [34,43,'hello',[7,34,56],True]
#slicing
# start : Stop+1

In [26]:
mylist[0:3] # Slices the list from index 0 to 2

[34, 43, 'hello']

In [27]:
print(mylist[0:3], mylist [-2][0:2]) # Prints the sliced list and the sliced part of a sublist

[34, 43, 'hello'] [7, 34]

In [28]:
# List are mutable or changeable
# list uses "[]" Square brackets

TUPLE

In [29]:
# Tuple are Imutable or unchangeable
# Tuple uses "()" Rounded brackets

In [30]:
mytuple = (23,43,'hello',[7,34,56],True)  # Creating a tuple with mixed data types

In [31]:
mytuple # Displays the tuple

(23, 43, 'hello', [7, 34, 56], True)

In [32]:
mytuple[0] = 34 # cannot change the value of a tuple

TypeError: 'tuple' object does not support item assignment

In [33]:
# Interview question - remove the duplicate values  

d = [3,3,3,6,6,6,7,7,7,8,8,8]

In [34]:
set(d) # Converts the list to a set to remove duplicates

{3, 6, 7, 8}

In [35]:
e = set(d) # Assigns the set to variable e

In [36]:
f = list(e) # Converts the set back to a list

In [37]:
f # Displays the list without duplicates

[8, 3, 6, 7]

In [38]:
# dictionary are in the form of key and value

mydict = {"Name" : ["Pratham","Pednekar"],
          "Age" : 19 ,
          "Place" : "Mumbai"} # Creating a dictionary

In [39]:
mydict["Name"][1] # Accesses the second element in the list associated with the key "Name"

'Pednekar'

In [40]:
list1 =[ mydict["Name"],mydict["Age"],mydict["Place"]] # Creates a list from dictionary values

In [41]:
list1

[['Pratham', 'Pednekar'], 19, 'Mumbai']

In [42]:
ddd = [23,43,"hello",[7,56,[65,53,54]],True]  # Creating a nested list

In [43]:
ddd[3][2][1] # Accesses the second element in the nested sublist

53

In [44]:
# If i want any two or three middle value of a list 
ddd[0],ddd[4] # Accesses the first and the last elements of the list

(23, True)

In [45]:
len(ddd) # Prints the length of the list

5

In [46]:
a = [12,34,45,"hello",67,48,"World",87,54,True] # Creating another list with mixed data types

In [47]:
# In append will bydefault add the value at the end of the list
a.append(66)

In [48]:
a

[12, 34, 45, 'hello', 67, 48, 'World', 87, 54, True, 66]

In [49]:
# In insert, it will give u a option that on which index u want to place the value
a.insert(0,"Pratham")

In [50]:
a

['Pratham', 12, 34, 45, 'hello', 67, 48, 'World', 87, 54, True, 66]

In [51]:
# statemennts in python

In [52]:
# if,elif,else

In [53]:
var = 12 # Assigns integer value 12 to variable var

In [54]:
if var > 13 :
    print("Hello") # Executes if var is greater than 13
elif var == 12:
    print("equal") # Executes if var is equal to 12
else:
    print("ok") # Executes if neither of the above conditions are met

equal

In [55]:
# Function to check if a number is even or odd
def Evenodd(n):
    if n%2 == 0:
        print("even")
    else: 
        print("odd")

In [57]:
a = int(input("Enter the number: ")) # Takes an integer input from the user
b = int(input("Enter the number: ")) # Takes another integer input from the user

In [58]:
c = a+b # Adds the two inputs

In [59]:
c # Displays the sum

25

In [60]:
# student will come and input their marks out of 100 you need to put this student in his/her grade
# 75-100 ---> Grade A
# 50-75 ---> Grade B
# 35-50 ---> Grade c
# less than 35 ---> Fail
# No negative marks or marks greater than 100 should be accepted

In [61]:
# Function to assign grade based on marks
def studentmarks(marks):
    if marks >= 75 and marks <= 100:
        print("Grade A")
    elif marks >= 50 and marks < 75:
        print("Grade B")
    elif marks >=35 and marks < 50:
        print("Grade c")
    elif marks >= 0 and marks < 35: 
        print("fail")
    else :
        print("Enter invalid value")

In [62]:
studentmarks(85) # Calls the function with a sample mark

Grade A

In [63]:
#Loops
# for 
# while

In [64]:
for i in range(0,10):
    print("Hello")  # Prints "Hello" 10 times

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [65]:
a = [1,2,3,4,5,6,7,8,9,10] # Creates a list of numbers from 1 to 10

In [66]:
a # Displays the list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [67]:
#To get all odd number in the list
for i in a:
    if i%2 != 0 :# this 0 is the remainder 
        print (i)

1
3
5
7
9

In [68]:
#To get all even numers in the list 
for i in a:
    if i%2 == 0 :# this 0 is the remainder 
        print (i)

2
4
6
8
10

In [69]:
#Question 

# 2 * 1 = 2
# 2 * 2 = 4
# .
# .
# 2 * 10 = 20

In [70]:
# Function to print multiplication table of a number
def tableof(n):
    for i in range(1,11):
        print(n,"*",i,"=",n*i) # Prints the multiplication table of n

In [71]:
tableof(2) # Calls the function with 2

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [72]:
# Function to return multiplication table of a number as a list
def tableoff(n):
    out = []
    for i in range(1,11):
        a = n ,"*", i,"=",n*i
        out.append(a)
    return out # Returns the list containing the multiplication table

In [73]:
tableoff(2)  # Calls the function with 2

[(2, '*', 1, '=', 2),
 (2, '*', 2, '=', 4),
 (2, '*', 3, '=', 6),
 (2, '*', 4, '=', 8),
 (2, '*', 5, '=', 10),
 (2, '*', 6, '=', 12),
 (2, '*', 7, '=', 14),
 (2, '*', 8, '=', 16),
 (2, '*', 9, '=', 18),
 (2, '*', 10, '=', 20)]

In [74]:
# Function to print the cube of a number
def cube(number):
    print(number * number * number)  Prints the cube of the number

In [75]:
cube(3) # Calls the function with 3

27

In [76]:
#python for data science

In [77]:
# 1,37,000 libraries are their in python
# and below are the mostly used libraries and popular once  

# Data preprocessing

# Pandas - u can do any manipulation in excel file by using pandas and read and also edit the excel file
# numpy - stand for numeric python (used for performing mathimatical calaculations)
# Matplotlib - used for data visualization (for graphs and all)
# seaborn - used for data visualization (An advanced library for data visualization more than matplotlib)

# Machine Learning

# sklearn - 
# statmodel - used for time series analysis 

# deep learning

# opencv - used for computer vision 
# tensorflow
# NLTK

# Data Preprocessing

In [78]:
import pandas as pd # Imports pandas library

In [79]:
# reading a file using pandas in python

In [80]:
#index_col default value is always none
#header default value is always one
data = pd.read_csv("Salaries.csv",index_col= None,header = 0,encoding = "utf-8") 
#what is (encoding = "utf-8") ?
# it uses to remove error in excel files like special characters errors

In [81]:
data.head() # Displays the first few rows of the data

   rank discipline  phd  service   sex  salary
0  Prof          B   56       49  Male  186960
1  Prof          A   12        6  Male   93000
2  Prof          A   23       20  Male  110515
3  Prof          A   40       31  Male  131205
4  Prof          B   20       18  Male  104800